<!DOCTYPE html>
<!--Names: Anupama Hazarika, Ananmay Rajan, Jenan Meri
    Course: Csc 337
    Purpose: This is the login html file and it displays the
		 login/create account forms.
-->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Flavors of India</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/login.css" />
  <script src="./js/login.js" defer></script>
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div class="nav">
        <img src="./images/logo.png" alt="" class="nav-logo" />
        <div class="nav-links">
          <a href="/" class="nav-link">Home</a>
          <a href="/help" class="nav-link">Help</a>
          <a href="/menu" class="nav-link">Menu</a>
          <a href="/faq" class="nav-link">FAQ</a>
          <% if (isAuth) { %>
            <a href="/orderHistory" class="nav-link">Order History</a>
            <a href="/reservation" class="nav-link">Reservation</a>
            <%} %>
              <% if (!isAuth) { %>
                <a href="/login" class="nav-link active">Login</a>
                <%} else { %>
                  <a href="/api/logout" class="nav-link">Logout</a>
                  <% } %>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <main class="main">
      <form id="form">
        <div class="logo">
          <img src="./images/logo.png" alt="Logo" />
        </div>

        <div id="username-field-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required disabled />
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div id="message" class="error" style="display: none"></div>

        <div class="terms" id="terms-field-group">
          <input type="checkbox" id="terms" name="terms" required disabled />
          <label for="terms">I accept the
            <a href="#" id="terms" onclick="termsAndConditions()">terms and conditions</a>.</label>
        </div>

        <div class="buttons">
          <!-- <button type="submit" id="login-btn">
              Login
            </button> -->
          <button type="submit" id="create-account-btn">Login</button>
        </div>

        <div id="login-signup-swap">
          <span id="login-signup-swap-text">New here? Create an Account</span>
          <button id="login-signup-swap-btn" type="button" onclick="toggleLogin(this)">
            Here!
          </button>
        </div>

        <div class="modal" id="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Terms and Conditions</h2>
            <p>
              Please read these terms and conditions carefully before using
              our website.
            </p>

            <ol>
              <li>
                By using this website, you agree to be bound by these terms
                and conditions.
              </li>
              <li>
                The information and materials provided on our website are for
                general information and educational purposes only. We do not
                provide any warranty or guarantee as to the accuracy,
                completeness, suitability, or timeliness of the information
                and materials.
              </li>
              <li>
                All prices listed on our website are in the currency specified
                and are subject to change without notice.
              </li>
              <li>
                We reserve the right to refuse service to anyone for any
                reason at any time.
              </li>
              <li>
                Our restaurant may offer menu items that contain allergens. It
                is your responsibility to inform us of any food allergies or
                dietary restrictions you may have before placing an order. We
                will make every effort to accommodate your needs, but we
                cannot guarantee that our dishes will be allergen- free.
              </li>
              <li>
                Any dispute arising out of or related to the use of our
                website is subject to the laws of the jurisdiction in which
                our restaurant is located.
              </li>
              <li>
                We may collect and store personal information that you provide
                to us through this website, such as your name, email address,
                and phone number. By using this website, you consent to our
                collection and storage of your personal information.
              </li>
              <li>
                We may use cookies to improve your browsing experience. By
                using this website, you consent to our use of cookies.
              </li>
            </ol>
          </div>
        </div>

        <div id="footer">
          <p>For more information, visit our <a href="/faq">FAQ page</a>.</p>
        </div>
      </form>
    </main>
  </div>

  <div class="footer">
    <div class="container">
      <p style="color: white">
        @2023 Flavors of India, all rights reserved ©.
      </p>
    </div>
  </div>
</body>

</html>