<!DOCTYPE html>
<!--Names: Anupama Hazarika, Ananmay Rajan, Jenan Meri
    Course: Csc 337
    Purpose: This is the order history html file and it displays
		 all food ordered previously by the user.
-->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Order History - Flavors of India</title>
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/orderHistory.css" />
  <script src="./js/orderHistory.js" defer></script>
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div class="nav">
        <img src="./images/logo.png" alt="" class="nav-logo" />
        <div class="nav-links">
          <a href="/" class="nav-link">Home</a>
          <a href="/help" class="nav-link">Help</a>
          <a href="/menu" class="nav-link">Menu</a>
          <% if (isAuth) { %>
            <a href="/orderHistory" class="nav-link active">Order History</a>
            <a href="/reservation" class="nav-link">Reservation</a>
            <%} %>
              <a href="/faq" class="nav-link">FAQ</a>
              <% if (!isAuth) { %>
                <a href="/login" class="nav-link">Login</a>
                <%} else { %>
                  <a href="/api/logout" class="nav-link">Logout</a>
                  <% } %>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <main class="main">
      <h1>Order History</h1>
      <div id="orders">
        <div class="loader-container">
          <div class="loader"></div>
        </div>
      </div>
      <!-- <div class="order-box">
          <div class="order-date">Order Date: 2023-04-14</div>
          <table>
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Butter Chicken</td>
                <td>2</td>
                <td>$20</td>
              </tr>
              <tr>
                <td>Naan</td>
                <td>3</td>
                <td>$9</td>
              </tr>
            </tbody>
          </table>
          <div class="order-total">Total Price: $29</div>
        </div> -->
    </main>
  </div>

  <div class="footer">
    <div class="container">
      <p>@2023 Flavors of India, all rights reserved ©.</p>
    </div>
  </div>
</body>

</html>